@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

.float {
  animation: float 6s ease-in-out infinite;
}
