@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600&display=swap');

html {
  scroll-behavior: smooth;
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

.float {
  animation: float 6s ease-in-out infinite;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}
